.*cache*
.*ignore
.*rc
.editorconfig
.git*
.tmp
.yarnrc
*-report.json
*.ejs
*.lock
*.log
*.properties
*.xml
**/package.json
bin/*
build
coverage
dist
Jenkinsfile
LICENSE
node_modules
package-lock.json
reports
tsconfig.json
tsconfig*.json