save true
save-exact true
loglevel "info"
progress true
ignore-optional false
link-duplicates true
registry "https://artifactory.netent.com/artifactory/api/npm/npm-virtual/"

# This needs to be in sync with puppeteer chromium version to work reliable
chromedriver_version "74.0.3729.6"