save true
save-exact true
loglevel "info"
progress true
ignore-optional false
link-duplicates true
registry "https://artifactory.netent.com/artifactory/api/npm/npm-virtual/"
chromedriver_force_download true
chromedriver_version "LATEST"